@charset "UTF-8";
/*Mixins de Diseño General*/
/* Mixins para Responsive 1024 px */
/* Mixins para Responsive 768 px */
/* Mixins para Responsive 500 px */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.contenedor-principal {
  display: grid;
  grid-template-columns: 260px 1fr;
}
.contenedor-principal .incide {
  background: linear-gradient(#382863, #161026);
  height: 100vh;
  width: 200px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.contenedor-principal .incide .check-btn {
  font-size: 35px;
  color: #EA6FFF;
  float: right;
}
.contenedor-principal .incide #menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.contenedor-principal .incide #menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  color: #7e6fb3;
}
.contenedor-principal .incide #menu a:hover {
  color: #04aa6d;
}
.contenedor-principal .incide #menu #links {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align: center;
}
.contenedor-principal .incide #menu #links li .seleccionado {
  color: #04AA6D;
}
.contenedor-principal .foto-portada {
  width: 150px;
  border: 2spx solid #04AA6D;
  border-radius: 80px;
}

.contenedor__info {
  background: linear-gradient(#261d47, #110d1f);
  min-height: 100%;
  width: calc(100vw - 220px);
  position: absolute;
  left: 200px;
}
.contenedor__info .contenedor__info-inicio {
  margin: 62px 50px 0 70px;
  box-sizing: border-box;
  min-height: 87vh;
}
.contenedor__info .contenedor__info-inicio .info__inicio-h1 {
  color: #EA6FFF;
  font-size: 90px;
}
.contenedor__info .contenedor__info-inicio .info__inicio-p1 {
  color: #4D6F9C;
  font-size: 25px;
}
.contenedor__info .contenedor__info-inicio .info__inicio-p2 {
  color: #4D6F9C;
  font-size: 15px;
  margin-bottom: 50px;
}
.contenedor__info .contenedor__info-inicio .btn__neon-cv {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  color: #fff;
  letter-spacing: 4px;
  font-size: 20px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}
.contenedor__info .contenedor__info-inicio .btn__neon-cv:hover {
  background: #a945c7;
  box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
  transition-delay: 1s;
}
.contenedor__info .contenedor__info-inicio .btn__neon-cv span {
  position: absolute;
  display: block;
}
.contenedor__info .contenedor__info-inicio .btn__neon-cv #span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #a945c7);
}
.contenedor__info .contenedor__info-inicio .btn__neon-cv:hover #span1 {
  left: 100%;
  transition: 1s;
}
.contenedor__info .contenedor__info-inicio .btn__neon-cv #span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #a945c7);
}
.contenedor__info .contenedor__info-inicio .btn__neon-cv:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.contenedor__info .contenedor__info-inicio .btn__neon-cv #span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #a945c7);
}
.contenedor__info .contenedor__info-inicio .btn__neon-cv:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.contenedor__info .contenedor__info-inicio .btn__neon-cv #span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #a945c7);
}
.contenedor__info .contenedor__info-inicio .btn__neon-cv:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
.contenedor__info .contenedor__info-inicio .icons__inicio {
  width: 500px;
  margin-top: 50px;
}
.contenedor__info .contenedor__info-inicio .icons__inicio span {
  margin-left: 20px;
}
.contenedor__info .contenedor__info-inicio .icons__inicio span a .icono-linkedin {
  width: 40px;
}
.contenedor__info .contenedor__info-inicio .icons__inicio span a .icono-git {
  width: 40px;
}
.contenedor__info .contenedor__info-inicio .icons__inicio span a .icono-tiktok {
  width: 40px;
}
.contenedor__info .contenedor__info-inicio .icons__inicio span a .icono-instagram {
  width: 40px;
}
.contenedor__info .contenedor__info-sobreMi {
  margin: 62px 50px 0 70px;
  box-sizing: border-box;
  min-height: 87vh;
}
.contenedor__info .contenedor__info-sobreMi .info__sobreMi-h2 {
  color: #EA6FFF;
  font-size: 90px;
}
.contenedor__info .contenedor__info-sobreMi .info__sobreMi-p {
  color: #4D6F9C;
  font-size: 1.3rem;
  margin-top: 50px;
}
.contenedor__info .contenedor__info-portfolio {
  margin: 62px 50px 0 70px;
  box-sizing: border-box;
  min-height: 87vh;
}
.contenedor__info .contenedor__info-portfolio .info__portfolio-h3 {
  color: #EA6FFF;
  font-size: 90px;
  margin-bottom: 50px;
}
.contenedor__info .contenedor__info-portfolio .card:hover {
  transform: translateY(-10px) translateX(-10px);
  box-shadow: 0px 20px 35px #000;
  transition: 1s;
}
.contenedor__info .contenedor__info-portfolio .card .card-body .icons__card {
  display: inline-block;
  font-size: 30px;
}
.contenedor__info .contenedor__info-portfolio .card .card-body .icons__card .fa-html5 {
  color: #f16524;
}
.contenedor__info .contenedor__info-portfolio .card .card-body .icons__card .fa-css3-alt {
  color: #0096dc;
}
.contenedor__info .contenedor__info-portfolio .card .card-body .icons__card .fa-bootstrap {
  color: #8b0bfc;
}
.contenedor__info .contenedor__info-portfolio .card .card-body .icons__card .fa-sass {
  color: #cf649a;
}
.contenedor__info .contenedor__info-portfolio .card .card-body .icons__card-enlaces {
  display: inline-block;
  float: right;
  font-size: 30px;
}
.contenedor__info .contenedor__info-portfolio .card .card-body .icons__card-enlaces .fa-github, .contenedor__info .contenedor__info-portfolio .card .card-body .icons__card-enlaces .fa-link {
  color: #313131;
}
.contenedor__info .contenedor__info-portfolio .card .card-body .icons__card-enlaces .fa-github:active, .contenedor__info .contenedor__info-portfolio .card .card-body .icons__card-enlaces .fa-link:active {
  position: relative;
  bottom: 5px;
}
.contenedor__info .contenedor__info-educacion {
  margin: 62px 50px 0 70px;
  box-sizing: border-box;
  min-height: 87vh;
}
.contenedor__info .contenedor__info-educacion .info__educacion-h4 {
  color: #EA6FFF;
  font-size: 90px;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor {
  color: #4D6F9C;
  font-size: 23px;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor p {
  margin: 0;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor .cursos-btn .btn-certificado a {
  float: right;
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 10px 30px;
  letter-spacing: 0.1em;
  transition: 0.5s;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor .cursos-btn .btn-certificado a:hover {
  letter-spacing: 0.15em;
  background: var(--color);
  color: var(--color);
  box-shadow: 0 0 35px var(--color);
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor .cursos-btn .btn-certificado a::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #27282c;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor .cursos-btn .btn-certificado a span {
  position: relative;
  z-index: 1;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor .cursos-btn .btn-certificado a i {
  position: absolute;
  inset: 0;
  display: block;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor .cursos-btn .btn-certificado a i::before {
  content: "";
  position: absolute;
  top: -3.5px;
  left: 80%;
  width: 15px;
  height: 8px;
  border: 2px solid var(--color);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor .cursos-btn .btn-certificado a:hover i::before {
  width: 20px;
  left: 20%;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor .cursos-btn .btn-certificado a i::after {
  content: "";
  position: absolute;
  bottom: -3.5px;
  left: 20%;
  width: 15px;
  height: 8px;
  border: 2px solid var(--color);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor .cursos-btn .btn-certificado a:hover i::after {
  width: 20px;
  left: 80%;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor .curso-1 .curso-span2 {
  float: right;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor .curso-2 .curso2-span2 {
  float: right;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor .curso-3 .curso3-span2 {
  float: right;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor .curso-4 .curso4-span2 {
  float: right;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor .curso-5 .curso5-span2 {
  float: right;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor .curso-6 .curso6-span2 {
  float: right;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor .curso-7 .curso7-span2 {
  float: right;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor .curso-8 .curso8-span2 {
  float: right;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor .curso-9 .curso9-span2 {
  float: right;
}
.contenedor__info .contenedor__info-educacion .info__educacion-contenedor .curso-10 .curso10-span2 {
  float: right;
}
.contenedor__info .contenedor__info-habilidades {
  margin: 62px 50px 0 70px;
  box-sizing: border-box;
  min-height: 87vh;
}
.contenedor__info .contenedor__info-habilidades .info__habilidades-h5 {
  color: #EA6FFF;
  font-size: 90px;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas p {
  color: #4D6F9C;
  font-size: 25px;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-maquetado {
  margin-bottom: 10px;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-maquetado .maquetado-html {
  display: inline-block;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  font-weight: 550;
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
  background-color: #f16524;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-maquetado .maquetado-css {
  display: inline-block;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  font-weight: 550;
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
  background-color: #0096dc;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-programacion {
  margin-bottom: 10px;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-programacion .programacion-js {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-weight: 550;
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
  background-color: #e79a13;
  width: 140px;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-programacion .programacion-java {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-weight: 550;
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
  background-color: #0075bf;
  width: 80px;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-programacion .programacion-python {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-weight: 550;
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
  background-color: #3673a5;
  width: 100px;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias {
  margin-bottom: 10px;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias .framework-bootstrap {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-weight: 550;
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
  background-color: #8b0bfc;
  width: 140px;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias .framework-sass {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-weight: 550;
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
  background-color: #cf649a;
  width: 50px;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias .libreria-axios {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-weight: 550;
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias .libreria-axios .img-axios {
  width: 132px;
  height: 38px;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas {
  margin-bottom: 10px;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-git {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-weight: 550;
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
  background-color: #313131;
  width: 100px;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-vsc {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-weight: 550;
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
  background-color: #007bcd;
  width: 220px;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-sublime-text {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-weight: 550;
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
  background-color: #ff9800;
  width: 160px;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tenologias-linux {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-weight: 550;
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
  background-color: #373737;
  width: 90px;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-photoshop {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-weight: 550;
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
  background-color: #2e9ff2;
  width: 140px;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-figma {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-weight: 550;
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
  background-color: #ea4c1d;
  width: 90px;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .seccion-aprendiendo .lista-de-cosas-aprendiendo {
  list-style: none;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .seccion-aprendiendo .lista-de-cosas-aprendiendo li {
  color: #4D6F9C;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .seccion-aprendiendo .lista-de-cosas-aprendiendo li b a {
  text-decoration: none;
  color: #04AA6D;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .seccion-aprendiendo .lista-de-cosas-aprendiendo li b a:hover {
  color: #127a54;
}
.contenedor__info .contenedor__info-habilidades .habilidades-contenidas .seccion-aprendiendo .lista-de-cosas-aprendiendo li b a:active {
  color: #085338;
}
.contenedor__info .contenedor__info-contacto {
  margin: 62px 50px 0 70px;
  box-sizing: border-box;
  min-height: 87vh;
}
.contenedor__info .contenedor__info-contacto .info__contacto-h6 {
  color: #EA6FFF;
  font-size: 90px;
}
.contenedor__info .contenedor__info-contacto .nav-contacto {
  font-size: 20px;
  margin-bottom: 10px;
}
.contenedor__info .contenedor__info-contacto .nav-contacto a {
  text-decoration: none;
  color: #4D6F9C;
}
.contenedor__info .contenedor__info-contacto .nav-contacto a:active {
  color: #477fc7;
}
.contenedor__info .contenedor__info-contacto .nav-contacto a:hover {
  color: #264670;
}
.contenedor__info .contenedor__info-contacto .nav-contacto .contacto-linkedin {
  color: #0274b3;
}
.contenedor__info .contenedor__info-contacto .nav-contacto .contacto-linkedin .fa-linkedin {
  font-size: 28px;
  margin-right: 5px;
}
.contenedor__info .contenedor__info-contacto .nav-contacto .contacto-email {
  color: #db4639;
}
.contenedor__info .contenedor__info-contacto .nav-contacto .contacto-email .fa-envelope {
  font-size: 28px;
  margin-right: 5px;
}
.contenedor__info .contenedor__info-contacto .nav-contacto .contacto-whatsapp {
  color: #03c100;
}
.contenedor__info .contenedor__info-contacto .nav-contacto .contacto-whatsapp .fa-whatsapp {
  font-size: 28px;
  margin-right: 5px;
}
.contenedor__info .contenedor__info-contacto .nav-contacto .contacto-instagram {
  color: #cc3282;
}
.contenedor__info .contenedor__info-contacto .nav-contacto .contacto-instagram .fa-instagram {
  font-size: 28px;
  margin-right: 5px;
}
.contenedor__info .contenedor__info-contacto .nav-contacto .contacto-tiktok {
  color: #fff;
}
.contenedor__info .contenedor__info-contacto .nav-contacto .contacto-tiktok .fa-whatsapp {
  font-size: 28px;
  margin-right: 5px;
}
.contenedor__info .contenedor__info-contacto .sitio-desarrollado .sitio__desarrollado-p {
  color: #EA6FFF;
  font-size: 20px;
}
.contenedor__info .contenedor__info-contacto .sitio-desarrollado .tecnologias-utilizadas {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  font-size: 40px;
}
.contenedor__info .contenedor__info-contacto .sitio-desarrollado .tecnologias-utilizadas .utilizo-html {
  color: #f16524;
}
.contenedor__info .contenedor__info-contacto .sitio-desarrollado .tecnologias-utilizadas .utilizo-css {
  color: #0096dc;
}
.contenedor__info .contenedor__info-contacto .sitio-desarrollado .tecnologias-utilizadas .utilizo-js {
  color: #e79a13;
}
.contenedor__info .contenedor__info-contacto .sitio-desarrollado .tecnologias-utilizadas .utilizo-bootstrap {
  color: #8b0bfc;
}
.contenedor__info .contenedor__info-contacto .sitio-desarrollado .tecnologias-utilizadas .utilizo-sass {
  color: #cf649a;
}
.contenedor__info .contenedor__info-contacto .herramientas-utilizadas-en-el-sitio .herramientas-utilizadas-p {
  color: #EA6FFF;
  font-size: 20px;
}
.contenedor__info .contenedor__info-contacto .herramientas-utilizadas-en-el-sitio .herramientas {
  display: flex;
  gap: 20px;
}
.contenedor__info .contenedor__info-contacto .herramientas-utilizadas-en-el-sitio .herramientas span {
  color: #4D6F9C;
  font-size: 20px;
}
.contenedor__info .contenedor__info-contacto .herramientas-utilizadas-en-el-sitio .herramientas .herramienta-figma {
  font-size: 25px;
  color: #ea4c1d;
}
.contenedor__info .contenedor__info-contacto .herramientas-utilizadas-en-el-sitio .herramientas .herramienta-google-font {
  font-size: 25px;
  color: #00ac41;
}
.contenedor__info .contenedor__info-contacto .herramientas-utilizadas-en-el-sitio .herramientas .herramienta-font-awesome {
  font-size: 25px;
  color: #4e86cc;
}

@media (max-width: 2560px) {
  .contenedor__info {
    width: calc(100vw - 200px);
  }
}
@media (max-width: 1024px) {
  .contenedor-principal .incide #menu a {
    font-size: 15px;
  }
  .contenedor-principal .foto-portada {
    width: 140px;
  }
  .contenedor__info .contenedor__info-inicio .info__inicio-h1 {
    color: #EA6FFF;
    font-size: 70px;
  }
  .contenedor__info .contenedor__info-inicio .info__inicio-p1 {
    font-size: 20px;
  }
  .contenedor__info .contenedor__info-inicio .info__inicio-p2 {
    font-size: 13px;
    margin-bottom: 35px;
  }
  .contenedor__info .contenedor__info-inicio .btn__neon-cv {
    font-size: 17px;
  }
  .contenedor__info .contenedor__info-inicio .icons__inicio {
    width: 300px;
    margin-top: 40px;
  }
  .contenedor__info .contenedor__info-inicio .icons__inicio span {
    margin-left: 15px;
  }
  .contenedor__info .contenedor__info-inicio .icons__inicio span a .icono-linkedin {
    font-size: 35px;
  }
  .contenedor__info .contenedor__info-inicio .icons__inicio span a .icono-git {
    font-size: 35px;
  }
  .contenedor__info .contenedor__info-inicio .icons__inicio span a .icono-tiktok {
    font-size: 35px;
  }
  .contenedor__info .contenedor__info-inicio .icons__inicio span a .icono-instagram {
    font-size: 35px;
  }
  .contenedor__info .contenedor__info-sobreMi .info__sobreMi-h2 {
    color: #EA6FFF;
    font-size: 70px;
  }
  .contenedor__info .contenedor__info-sobreMi .info__sobreMi-p {
    font-size: 1rem;
    margin-top: 40px;
  }
  .contenedor__info .contenedor__info-portfolio .info__portfolio-h3 {
    color: #EA6FFF;
    font-size: 70px;
    margin-bottom: 30px;
  }
  .contenedor__info .contenedor__info-portfolio .card {
    height: 300px;
  }
  .contenedor__info .contenedor__info-portfolio .card .card-body .icons__card {
    font-size: 25px;
    margin-top: -10px;
  }
  .contenedor__info .contenedor__info-portfolio .card .card-body .icons__card-enlaces {
    font-size: 25px;
    margin-top: -10px;
  }
  .contenedor__info .contenedor__info-educacion .info__educacion-h4 {
    color: #EA6FFF;
    font-size: 70px;
  }
  .contenedor__info .contenedor__info-educacion .info__educacion-contenedor {
    font-size: 20px;
  }
  .contenedor__info .contenedor__info-educacion .info__educacion-contenedor .cursos-btn .btn-certificado a {
    font-size: 0.7rem;
  }
  .contenedor__info .contenedor__info-habilidades .info__habilidades-h5 {
    color: #EA6FFF;
    font-size: 70px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas p {
    font-size: 23px;
    margin-bottom: 10px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-maquetado {
    margin-bottom: 10px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-maquetado .maquetado-html {
    width: 75px;
    font-size: 15px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-maquetado .maquetado-css {
    width: 75px;
    font-size: 15px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-programacion {
    margin-bottom: 10px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-programacion .programacion-js {
    font-size: 15px;
    width: 110px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-programacion .programacion-java {
    font-size: 15px;
    width: 60px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-programacion .programacion-python {
    font-size: 15px;
    width: 80px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias {
    margin-bottom: 10px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias .framework-bootstrap {
    font-size: 15px;
    width: 110px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias .framework-sass {
    font-size: 15px;
    width: 40px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias .libreria-axios {
    font-size: 15px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias .libreria-axios .img-axios {
    width: 90px;
    height: 27px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas {
    margin-bottom: 10px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-git {
    font-size: 15px;
    width: 80px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-vsc {
    font-size: 15px;
    width: 160px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-sublime-text {
    font-size: 15px;
    width: 130px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tenologias-linux {
    font-size: 15px;
    width: 70px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-photoshop {
    font-size: 15px;
    width: 110px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-figma {
    font-size: 15px;
    width: 70px;
  }
  .contenedor__info .contenedor__info-contacto .info__contacto-h6 {
    color: #EA6FFF;
    font-size: 70px;
  }
  .contenedor__info .contenedor__info-contacto .nav-contacto {
    font-size: 18px;
  }
  .contenedor__info .contenedor__info-contacto .sitio-desarrollado .tecnologias-utilizadas {
    font-size: 30px;
  }
  .contenedor__info .contenedor__info-contacto .herramientas-utilizadas-en-el-sitio .herramientas span {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .contenedor-principal .incide #menu a {
    font-size: 13px;
  }
  .contenedor-principal .foto-portada {
    width: 130px;
  }
  .contenedor__info .contenedor__info-inicio .info__inicio-h1 {
    color: #EA6FFF;
    font-size: 50px;
  }
  .contenedor__info .contenedor__info-inicio .info__inicio-p1 {
    font-size: 16px;
  }
  .contenedor__info .contenedor__info-inicio .info__inicio-p2 {
    font-size: 10px;
    margin-bottom: 30px;
  }
  .contenedor__info .contenedor__info-inicio .btn__neon-cv {
    font-size: 15px;
  }
  .contenedor__info .contenedor__info-inicio .icons__inicio {
    width: 300px;
    margin-top: 30px;
  }
  .contenedor__info .contenedor__info-inicio .icons__inicio span .icono-linkedin {
    font-size: 15px;
  }
  .contenedor__info .contenedor__info-inicio .icons__inicio span .icono-git {
    font-size: 15px;
  }
  .contenedor__info .contenedor__info-inicio .icons__inicio span .icono-tiktok {
    font-size: 15px;
  }
  .contenedor__info .contenedor__info-inicio .icons__inicio span .icono-instagram {
    font-size: 15px;
  }
  .contenedor__info .contenedor__info-sobreMi .info__sobreMi-h2 {
    color: #EA6FFF;
    font-size: 50px;
  }
  .contenedor__info .contenedor__info-sobreMi .info__sobreMi-p {
    font-size: 0.8rem;
    margin-top: 30px;
  }
  .contenedor__info .contenedor__info-portfolio .info__portfolio-h3 {
    color: #EA6FFF;
    font-size: 70px;
    margin-bottom: 20px;
  }
  .contenedor__info .contenedor__info-portfolio .card {
    height: 300px;
  }
  .contenedor__info .contenedor__info-portfolio .card .card-body .icons__card {
    font-size: 25px;
    margin-top: -10px;
  }
  .contenedor__info .contenedor__info-portfolio .card .card-body .icons__card-enlaces {
    font-size: 25px;
    margin-top: -10px;
  }
  .contenedor__info .contenedor__info-educacion .info__educacion-h4 {
    color: #EA6FFF;
    font-size: 50px;
  }
  .contenedor__info .contenedor__info-educacion .info__educacion-contenedor {
    font-size: 16px;
  }
  .contenedor__info .contenedor__info-educacion .info__educacion-contenedor .cursos-btn .btn-certificado a {
    font-size: 0.5rem;
  }
  .contenedor__info .contenedor__info-habilidades .info__habilidades-h5 {
    color: #EA6FFF;
    font-size: 50px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas p {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-maquetado {
    margin-bottom: 8px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-maquetado .maquetado-html {
    width: 70px;
    font-size: 14px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-maquetado .maquetado-css {
    width: 70px;
    font-size: 14px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-programacion {
    margin-bottom: 8px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-programacion .programacion-js {
    font-size: 14px;
    width: 100px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-programacion .programacion-java {
    font-size: 14px;
    width: 55px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-programacion .programacion-python {
    font-size: 14px;
    width: 70px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias {
    margin-bottom: 10px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias .framework-bootstrap {
    font-size: 14px;
    width: 95px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias .framework-sass {
    font-size: 14px;
    width: 35px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias .libreria-axios {
    font-size: 14px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias .libreria-axios .img-axios {
    width: 80px;
    height: 20px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas {
    margin-bottom: 8px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-git {
    font-size: 14px;
    width: 75px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-vsc {
    font-size: 14px;
    width: 150px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-sublime-text {
    font-size: 14px;
    width: 110px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tenologias-linux {
    font-size: 14px;
    width: 60px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-photoshop {
    font-size: 14px;
    width: 100px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-figma {
    font-size: 14px;
    width: 65px;
  }
  .contenedor__info .contenedor__info-contacto .info__contacto-h6 {
    color: #EA6FFF;
    font-size: 50px;
  }
  .contenedor__info .contenedor__info-contacto .nav-contacto {
    font-size: 17px;
  }
  .contenedor__info .contenedor__info-contacto .herramientas-utilizadas-en-el-sitio .herramientas span {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .contenedor-principal .incide {
    width: 100px;
  }
  .contenedor-principal .incide #menu a {
    font-size: 10px;
  }
  .contenedor-principal .foto-portada {
    width: 80px;
  }
  .contenedor__info {
    left: 100px;
    width: calc(100vw - 100px);
  }
  .contenedor__info .contenedor__info-inicio {
    margin: 50px 20px 0 20px;
    box-sizing: border-box;
    min-height: 87vh;
    margin-top: 100px;
  }
  .contenedor__info .contenedor__info-inicio .info__inicio-h1 {
    color: #EA6FFF;
    font-size: 35px;
    margin-bottom: 20px;
  }
  .contenedor__info .contenedor__info-inicio .info__inicio-p1 {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .contenedor__info .contenedor__info-inicio .info__inicio-p2 {
    font-size: 10px;
    margin-bottom: 35px;
  }
  .contenedor__info .contenedor__info-inicio .btn__neon-cv {
    font-size: 17px;
  }
  .contenedor__info .contenedor__info-inicio .icons__inicio {
    width: 250px;
    margin-top: 40px;
  }
  .contenedor__info .contenedor__info-inicio .icons__inicio span {
    margin-left: 10px;
  }
  .contenedor__info .contenedor__info-sobreMi {
    margin: 50px 20px 0 20px;
    box-sizing: border-box;
    min-height: 87vh;
  }
  .contenedor__info .contenedor__info-sobreMi .info__sobreMi-h2 {
    color: #EA6FFF;
    font-size: 35px;
  }
  .contenedor__info .contenedor__info-sobreMi .info__sobreMi-p {
    font-size: 0.8rem;
  }
  .contenedor__info .contenedor__info-portfolio {
    margin: 50px 20px 0 20px;
    box-sizing: border-box;
    min-height: 87vh;
  }
  .contenedor__info .contenedor__info-portfolio .info__portfolio-h3 {
    color: #EA6FFF;
    font-size: 35px;
    margin-bottom: 30px;
  }
  .contenedor__info .contenedor__info-portfolio .card {
    height: 300px;
    position: relative;
    left: -8px;
  }
  .contenedor__info .contenedor__info-educacion {
    margin: 50px 20px 0 20px;
    box-sizing: border-box;
    min-height: 87vh;
  }
  .contenedor__info .contenedor__info-educacion .info__educacion-h4 {
    color: #EA6FFF;
    font-size: 35px;
  }
  .contenedor__info .contenedor__info-educacion .info__educacion-contenedor {
    font-size: 10px;
  }
  .contenedor__info .contenedor__info-educacion .info__educacion-contenedor .cursos-btn .btn-certificado a {
    font-size: 0.4rem;
    padding: 8px 20px;
    letter-spacing: 0em;
  }
  .contenedor__info .contenedor__info-habilidades .info__habilidades-h5 {
    color: #EA6FFF;
    font-size: 35px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas p {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-maquetado {
    margin-bottom: 8px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-maquetado .maquetado-html {
    width: 75px;
    font-size: 15px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-maquetado .maquetado-css {
    width: 75px;
    font-size: 15px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-programacion {
    margin-bottom: 8px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-programacion .programacion-js {
    font-size: 15px;
    width: 110px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-programacion .programacion-java {
    font-size: 15px;
    width: 60px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .lenguajes-programacion .programacion-python {
    font-size: 15px;
    width: 80px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias {
    margin-bottom: 8px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias .framework-bootstrap {
    font-size: 15px;
    width: 110px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias .framework-sass {
    font-size: 15px;
    width: 40px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias .libreria-axios {
    font-size: 14px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .framework-librerias .libreria-axios .img-axios {
    width: 70px;
    height: 20px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas {
    margin-bottom: 8px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-git {
    font-size: 15px;
    width: 80px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-vsc {
    font-size: 15px;
    width: 160px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-sublime-text {
    font-size: 15px;
    width: 130px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tenologias-linux {
    font-size: 15px;
    width: 70px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-photoshop {
    font-size: 15px;
    width: 110px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .software-herramientas .tecnologias-figma {
    font-size: 15px;
    width: 70px;
  }
  .contenedor__info .contenedor__info-habilidades .habilidades-contenidas .seccion-aprendiendo ul {
    padding: 0;
  }
  .contenedor__info .contenedor__info-contacto .info__contacto-h6 {
    color: #EA6FFF;
    font-size: 35px;
  }
  .contenedor__info .contenedor__info-contacto .nav-contacto {
    font-size: 18px;
  }
  .contenedor__info .contenedor__info-contacto .herramientas-utilizadas-en-el-sitio .herramientas {
    display: flex;
    flex-direction: column;
  }
  .contenedor__info .contenedor__info-contacto .herramientas-utilizadas-en-el-sitio .herramientas span {
    font-size: 20px;
  }
}
/* Mixins */
/* Variables */
/* Estilos*/

/*# sourceMappingURL=index.css.map */
