$fuente-principal: 'Chakra Petch', sans-serif;
$color-titular: #EA6FFF;
$color-p: #4D6F9C;
$color-green: #04AA6D;
$color-html: #f16524;
$color-css: #0096dc;
$color-bootstrap: #8b0bfc;
$color-sass: #cf649a;
$color-gitHub: #313131;
$color-javascript: #e79a13;
$color-java: #0075bf;
$color-python: #3673a5;
$color-vsc: #007bcd;
$color-sublime-text: #ff9800;
$color-linux: #373737;
$color-photoshop: #2e9ff2;
$color-figma: #ea4c1d;
$color-linkedin: #0274b3;
$color-whatsapp: #03c100;
$color-instagram: #cc3282;
$color-tiktok: #fff;
$color-email: #db4639;
$color-google-font: #00ac41;
$color-font-awesome: #4e86cc;
$color-enlaces-card: #000;
$posicion-derecha: right;